@font-face {
  font-family: "iconfont";
  /* Project id 3888836 */
  src: url('//at.alicdn.com/t/c/font_3888836_9h3e3nvtkd4.woff2?t=1677592563642') format('woff2'),
    url('//at.alicdn.com/t/c/font_3888836_9h3e3nvtkd4.woff?t=1677592563642') format('woff'),
    url('//at.alicdn.com/t/c/font_3888836_9h3e3nvtkd4.ttf?t=1677592563642') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e621";
}

.icon-success:before {
  content: "\e677";
}

.icon-warning:before {
  content: "\e68a";
}

.icon-caret-right:before {
  content: "\e845";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-aim_line:before {
  content: "\e715";
}

.icon-my-fill:before {
  content: "\e663";
}

.icon-home:before {
  content: "\e626";
}

.icon-my:before {
  content: "\e78b";
}

.icon-detail:before {
  content: "\e793";
}

.icon-detail-fill:before {
  content: "\e850";
}

.icon-home-fill:before {
  content: "\e867";
}

.icon-xiangzuo:before {
  content: "\e631";
}