*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ebedf0;
}
#app{
    width: 100%;
    height: 100%;
    position: relative;
}
.vbtn {
    margin-top: 30px !important;
    border-radius: 10px !important;
    background-color: #66B1FF !important;
    color: #fff !important;
    font-weight: bolder;
    margin-left: 10px !important;
}
.radarTooltip {
    width: 200px !important;
    height: 200px !important;
}